header{background-color: blue;margin-top: 0px; text-decoration: underline; margin-bottom: 0px;padding: 20px;}

header .si{color: rgb(0, 0, 0); text-align: center; margin-bottom: 20px;background-color: blue;text-decoration: underline;}

aside .b{color: red;text-align: center; }

aside .z{text-align: center;margin-top: 40px; margin-bottom: 40px;}

.sa img{margin-top: 20px;}

div .col{display: flex;flex-direction: column;}

div .pol{color: red; text-align: center;}

div .pol{margin-top: 20px;}

div .lila{font-size: 1.5em;font-weight:bold;}

div .jiji{font-weight:bold;}

.kisds{text-align: left;}

.slay{text-align: center;margin-top: 20px;}

.slay:hover{background-color: green;color: orange;}

.ultri{text-align: center;}

footer{text-align: center;background-color: red;margin: 0px; padding: 10px;}

footer .mimis{color:orange;font-size: 1em;}

footer .mimis:hover{color: yellow;font-size: 1.3em;}

.polkeu{text-align: right;}

.qwe{text-align: center;}

.divespecial{background-color: gold;}

.sdk{padding: 20px;}

.kold{text-align: left;color: rgb(42, 13, 172);}

.kold:hover{color: rgb(0, 0, 0);background-color: rgb(255, 255, 255);font-weight:bold;}

@media (max-width:200px) {
    .dou{height: 100px;}
}